@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.quiz{
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container{
  padding: 8vw;
}